body{
    margin:0;
    padding:20px;
    background:url("background.jpg");
    background-size:cover;
    background-position:center;
    color:white;
    font-family:tahoma;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}
.login-box,#content{
background:#222;
padding:30px;
border-radius:15px;
max-width:700px;
width:100%;
}

input{
width:100%;
padding:12px;
margin:10px 0;
}

button{
padding:12px 25px;
cursor:pointer;
}

#error{
color:red;
}
